 <ion-view>  
     <!--app header bar start-->
  <ion-header-bar class="bar-stable" style="background-color:#e6e6e6">
    <!--<a class="button"><i class="icon ion-navicon"></i></a>-->
    <h1 class="title" style="text-align:center">自助BI</h1>
    <a class="button" href="#/home"><i class="icon ion-home"></i></a>
  </ion-header-bar>
  <!--app header bar end-->
  <!--app content start #41ab6b-->
  <ion-content  id="divContent" style="background:#eeeeee;">  
    <!--search start-->
    <div class="list list-inset" >
      <label class="item item-input" id="lblSearch" style="background:#eeeeee">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" id="search" placeholder="Search" ng-keyup="search($event)" ng-focus="searchFocus()" ng-model="IndicatorName" ng-blur="searchBlur()">
      </label>
    </div>
    <!--search end--> 

    <!-- <ion-list>
      <ion-item ng-repeat="icon in icons track by $index"> 
      {{icon.name}} 
      </ion-item>
    </ion-list>-->
    <ul class="list query-list" ng-show="IndicatorName!=undefined && IndicatorName!='' && IsSearchFocus" 
                      style="width:{{queryListWidth}}; 
                      left:{{queryListLeft}};
                      top:{{queryListTop}};
                      height:200px;
                      overflow-y:auto;
                      overflow-x:hidden;" >
        <li class="item" ng-repeat="item in filterItems=(items | filter:IndicatorName)" ng-click="goDynamicProduce('{{item.IndicatorId}}','{{item.IndicatorName}}','{{item.IndicatorUnit}}',$event)" >
          {{item.IndicatorName}}
        </li>  
    </ul> 
    <ul class="list query-list" ng-show="filterItems.length==0 && IndicatorName!=undefined && IndicatorName!='' && IsSearchFocus && (IndicatorName.replace(patternObject.pattern,'') !=IndicatorName && IndicatorName.replace(patternObject.pattern,'').length>0)" style="
                      width:{{queryListWidth}};
                      left:{{queryListLeft}};
                      top:{{queryListTop}}; height:auto !important;">
         <li class="item" ng-click="goProduce('{{-1}}','{{IndicatorName}}',$event)"><strong>{{ IndicatorName}}</strong></li>
    </ul>
   <!-- <ul class="list query-list" ng-show="filterItems.length==0 && IndicatorName!=undefined && IndicatorName!='' && IsSearchFocus" style="width:{{queryListWidth}} ;
                      left:{{queryListLeft}};
                      top:{{queryListTop}}; height:auto !important;">
         <li class="item" >暂无<strong>{{ IndicatorName | limitTo:5}}</strong>相关记录.</li>
    </ul> -->
    <div> 
      <section id="set-8" class="section">
        <div class="hi-icon-wrap hi-icon-effect-8" style="padding-top:5px;padding-bottom:5px;height:none;background:#eeeeee">
          <a href="#set-1" class="hi-icon hi-icon-user">领导驾驶舱</a> 
          <a href="#set-1" class="hi-icon hi-icon-pencil">预算</a> 
          <a href="#set-1" class="hi-icon hi-icon-bookmark">财务</a> 
          <a href="#set-1" class="hi-icon hi-icon-earth">燃料</a>
          <a href="#set-1" class="hi-icon hi-icon-cog">生产</a>
          <a href="#set-1" class="hi-icon hi-icon-chat">营销</a>
          <!-- <a href="#set-2" class="hi-icon hi-icon-cog">Settings</a>
          <a href="#set-2" class="hi-icon hi-icon-clock">Time</a>
          <a href="#set-2" class="hi-icon hi-icon-videos">Videos</a>
          <a href="#set-2" class="hi-icon hi-icon-list">List</a>
          <a href="#set-2" class="hi-icon hi-icon-refresh">Refresh</a>
          <a href="#set-3" class="hi-icon hi-icon-images">Images</a>
          <a href="#set-3" class="hi-icon hi-icon-pencil">Edit</a>-->
        </div>
        </section>
    </div><!-- /container -->
    <div id="divTags" class="list"> 
        <div class="item item-divider" style="text-align:right">
          Tags
        </div> 
        <a class="item item-tag item-arrow-plus" href="#">
          发电量
        </a>
        <a class="item item-tag item-arrow-plus" href="#">
          发电量趋势图
        </a>
        <a class="item item-tag item-arrow-plus" href="#">
          机组日发电量
        </a> 
           <a class="item item-tag item-arrow-plus" href="#">
          年计划发电量
        </a> 
           <a class="item item-tag item-arrow-plus" href="#">
          月计划发电量
        </a> 
           <a class="item item-tag item-arrow-plus" href="#">
          月实际发电量
        </a> 
    </div>
  </ion-content>
  <!--app content end-->  
  <ion-footer-bar style="background-color:#eeeeee" >
  <span style="text-align:center;width:100%">京备：———————</span> 
  </ion-footer-bar>
</ion-view> 
 
    