<ion-view cache-view="false" ng-controller="produceCtrl">
	<ion-header-bar class="bar-stable"  style="background-color:#e6e6e6">
	 	<a class="button" href="#/home/{{indicatorName}}" nav-direction="back"><i class="icon ion-reply"></i></a> 
    	<h1 class="title" style="text-align:center">{{indicatorName}}</h1>
    	<a class="button" href="#/home"><i class=" icon ion-home"></i></a>
    </ion-header-bar>
	<ion-content > 
		 	<div class="list list-inset">
		 		<br>
				<label class="item item-input">
				    <span class="input-label">日期</span>
				    <input type="text" placeholder="Select The Start Date" ng-click="openDatePickerStart($event)" ng-model="queryDateStart" >
				</label> 
			<!--	<br>
				<label class="item item-input">
				    <span class="input-label">结束</span>
				    <input type="text" placeholder="Select The End Date" ng-click="openDatePickerEnd($event)" ng-model="queryDateEnd" >
				</label> -->
				<br>
				<label class="item item-input item-select">
				    <div class="input-label">
				      电厂
				    </div>
				    <select ng-options="item.OrganizationName for item in organizations" ng-model="selectedObject"  ng-change="organizationChange(selectedObject)">
				    </select>
				</label>
			</div>
	 		<button class="button button-full button-positive" ng-click="query()">查询</button>
	 </ion-content>
</ion-view>

