<ion-view cache-view="false" ng-controller="produceCtrl">
	<ion-header-bar class="bar-stable">
	 	<a class="button" href="#/home"><i class="icon ion-reply"></i></a> 
    	<h1 class="title" style="text-align:center">{{indicatorName}}</h1>
    	<a class="button" href="#/home"><i class=" icon ion-home"></i></a>
    </ion-header-bar>
	<ion-content > 
		 	<div class="list list-inset">
		 		<br>
				<label class="item item-input">
				    <span class="input-label">请选择日期</span>
				    <input type="text" placeholder="Select The Date" ng-click="openDatePicker($event)" ng-model="queryDate" >
				</label> 
				<br>
				<label class="item item-input item-select">
				    <div class="input-label">
				      请选择组织
				    </div>
				    <select ng-options="item.text for item in organizations" ng-model="selectedObject" ng-change="organizationChange(selectedObject)">
				    </select>
				</label>
			</div>
	 		<button class="button button-full button-positive" ng-click="query()">查询</button>
	 </ion-content>
</ion-view>

