<ion-view cache-view="false" ng-controller="produceCtrl">
	<ion-header-bar class="bar-stable">
	 	<a class="button" href="#/produce"><i class="icon ion-reply"></i></a> 
    	<h1 class="title" style="text-align:center">{{indicatorName}}</h1>
    	<a class="button" href="#/home"><i class=" icon ion-home"></i></a>
    </ion-header-bar>
	<ion-content > 
		 	<div class="list card">
			  <div class="item item-avatar">
			   <!-- <img src="mcfly.jpg">
			    <h2>日期</h2>-->
			    <p>{{queryDate}}</p>
			  </div> 
			  <div class="item item-avatar">
			   <!-- <img src="mcfly.jpg">
			    <h2>组织</h2>-->
			    <p>{{organization}}</p>
			  </div> 
			   <div class="item item-avatar">
			   <!-- <img src="mcfly.jpg">
			    <h2>组织</h2>-->
			    <p>{{organization}}</p>
			  </div> 
			  <!-- <div class="item item-body">
			    <img class="full-image" src="delorean.jpg">
			    <p>
			      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			      the content is from a card-body consisting of an image and paragraph text. The footer
			      consists of tabs, icons aligned left, within the card-footer.
			    </p>
			    <p>
			      <a href="#" class="subdued">1 Like</a>
			      <a href="#" class="subdued">5 Comments</a>
			    </p>
			  </div>-->
			</div> 
			<a class="button button-full button-positive" href="#/produce" >返回</a>
	 </ion-content>
</ion-view>