<ion-view cache-view="false"> 
	<ion-header-bar class="bar-stable" style="background-color:#e6e6e6">
	 	<button class="button" ng-click="goBack()" nav-direction="back"><i class="icon ion-reply"></i> </button> 
    	<h1 class="title" style="text-align:center">指标详细</h1>
    	<a class="button" href="#/home" nav-direction="back"><i class="icon ion-home"></i></a>
    </ion-header-bar>
	<ion-content >  
		<div class="list">
		  <label class="item item-input item-stacked-label item-span-custome">
		    <span class="input-label">日期</span>
		    <span class="input-label" >{{date}}</span>
		  </label>
		  <label class="item item-input item-stacked-label item-span-custome">
		    <span class="input-label">组织</span>
		    <span class="input-label" >{{orgName}}</span>
		  </label>
		  <label class="item item-input item-stacked-label item-span-custome">
		    <span class="input-label">{{indicatorName}}（{{unit}}）</span>
		    <span class="input-label" >{{indicatorNumber}} </span>
		  </label>
		</div>
		<button class="button button-full button-positive" ng-click="goBack()"   nav-direction="back" >返回</button>
	 </ion-content>
	    <ion-footer-bar>
	  		<span style="text-align:center;width:100%">京备：———————</span> 
	  </ion-footer-bar>
</ion-view>