 <ion-view>   
     <!--app header bar start-->
	<ion-header-bar class="bar-stable"  style="background-color:#e6e6e6">
	 	<button class="button" ng-click="goBack()" nav-direction="back"><i class="icon ion-reply"></i></button> 
    	<h1 class="title" style="text-align:center"></h1>
    	<a class="button" href="#/home"><i class=" icon ion-home"></i></a>
    </ion-header-bar>
	  <!--app header bar end-->
	  <!--app content start #41ab6b-->
	  <ion-content   id="divContent" style="background:#eeeeee">  
		<ion-refresher
		    pulling-text="下拉刷新..."
		    on-refresh="doRefresh()">
		</ion-refresher>

	  	<div class="list">  
	  	 <div class="item item-divider" style="text-align:center">
		    {{patternName}}
		  </div>
		  <a ng-repeat="item in items" class="item item-arrow-right" href="#/reportList/{{item.reportCategoryName}}" nav-direction="forward">
		    {{item.reportCategoryName}}
		  </a>   
		</div> 
  	  </ion-content> 
  <!--app content end-->  
  <ion-footer-bar style="background-color:#eeeeee" >
  <span style="text-align:center;width:100%">京备：———————</span> 
  </ion-footer-bar>
</ion-view> 
 
