<ion-view cache-view="false" >
	 <ion-content  > 
	 		<div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search" ng-model="IndicatorName">
		  </label>
		  <button class="button button-dark" ng-click="goback()">
		    取消
		  </button>
		</div> 
		 <ul class="list">
		    <li class="item" ng-repeat="item in items | filter:IndicatorName" ng-click="goProduce('{{item.IndicatorId}}','{{item.IndicatorName}}')">
		      {{item.IndicatorName}}
		    </li> 
		 </ul> 
	 </ion-content>
	    <ion-footer-bar  >
	  <span style="text-align:center;width:100%">京备：———————</span> 
	  </ion-footer-bar>
</ion-view>
