<ion-view cache-view="false" ng-controller="tendencyCtrl">

	<ion-header-bar class="bar-stable" style="background-color:#e6e6e6">
	 	<a class="button" href="#/home/{{IndicatorName}}" nav-direction="back"><i class="icon ion-reply"></i></a> 
    	<h1 class="title" style="text-align:center">{{IndicatorName}}</h1>
    	<a class="button" href="#/home"><i class=" icon ion-home"></i></a>
    </ion-header-bar>

    <ion-content > 
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 400px;height:600px;"></div>

    
     </ion-content>
</ion-view>
